body {
    display: grid;
    grid-template-areas: 
        "cabeca cabeca cabeca"
        "braco corpo corpo"
        "perna perna perna";
    grid-template-rows: 200px auto 150px;
    grid-template-columns: 200px auto auto;
}

header {
    grid-area: cabeca;
    background-color: rgb(111, 136, 113);
}

aside {
    grid-area: braco;
    background-color: rgb(111, 165, 212);
}

main {
    grid-area: corpo;
    background-color: rgb(58, 40, 23);
}

footer {
    grid-area: perna;
    background-color: rgb(57, 87, 63);
}

.card {
    border: black 2px solid;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
    background-color: rgb(108, 154, 214);
}

.mae {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_card{
    width: 340px;
    height: auto;
}

.texto_card{
    color: rgb(0, 0, 0);
    font-size: xx-large;
}

@media only screen and (max-width:800px ) {
    body {
        grid-template-areas: "cabeca"
                             "corpo"
                             "perna";
        grid-template-columns: auto;
        grid-template-rows: 200px auto 200px;                     
    }
    aside {
        display: none;
    }

}